.footer{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    place-items: end;
}

.modal-content{
    background-color: #fff!important;
    width: 85% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    justify-self: center !important;
    align-self: center !important;
}

.modal-title{
    color: #00aed0;
}

.modal-header{
    width: 100%;
}

.modal-body{
    background-color: #fff !important;
    color: #00aed0 !important;
    width: 97% !important;;
}

.btn-close{
    background: transparent url("") center/1em auto no-repeat !important;
}

.account-modal{
    justify-content: center;
}